/* Form styling */
form {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Pesan Sukses */
.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}